	body{
		background-color: #fff;
	}
	
	#totalWrap{
		margin-left:150px;
		margin-right:150px;
		background-color:#efefef;
		border-bottom-color:#e0e0e0;	
		box-shadow:rgb(100,100,100)3px 3px 5px inset;
	}
	
	#details{
		float: left;
		margin-top: 0px; 
		font-family:georgia;
		font-size:15px;
		font-weight: normal;
	}
	#try{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.92);
		max-width: 400px;
		margin: 1px;
		display:block;
	}
	#about{
	text-align:center;
	height:30px;
	max-width: 100px;
	font-weight: bold;
	padding-top:10px;
	}
	#adpt{
	margin-top : 40px;
	}
	.field{
		background-color:#fefefe;
	}
	#repo{
		width: 300px;
		max-height:60px;
		background-color:#eee;
		border-radius :25px;
		margin-left:200px;
		position: relative;
		margin-top:25px;
		padding:10px;
		border:solid 1px #aaa;
		padding-left:17px;
	} 
	#repo:hover{
		background-color:#aaa;
		border: solid 1px #888;
		transform:translate (300,400)
		
	}
	
	#repo a{
		text-decoration:none;
		color:black;
		font-family:georgia;
		font-size:20px;
	}
	#footer{
		margin-top:70px;
		background-color:#efefef;
		max-height:80px;
		text-align: center;
		width:100%;
	}