body{
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
  overflow-x: hidden;
  background-image: url("statics/bl.jpg");
  background-attachment: fixed;
  font-family: monaco;
  font-size: 18pt;
  color: #111;

}
.main-content{
  width: 50%;
  padding-bottom: 50px;
  background-color: #111;
  position: absolute;
  top:80px;
  left:25%;
  -webkit-box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.passport{
  width: 200px;;
  height:200px;
  background-image: url("./statics/profile.jpg");
  background-repeat: no-repeat;
  margin-top: 30px;
  position:relative;
  left:calc(50% - 100px);
	left:-moz-calc(50% - 100px);
	left:-webkit-calc(50% - 100px);
  border-radius: 50%;
}
.writing-area{
  width: 70%;
  min-height: 400px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  position: relative;
  left:14%;
}
.send > a{
  display: block;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: black;

}
span{
  padding: 4px;
  background-color: #12d125;
  border: 2px solid black;
  font-family: calibri ;
}
span:hover{
  background-color: green;
  color: white;
}
.footer{
  width: 100%;
  height: 80px;
  background-color: #111;
  position: relative;
  color: #333;
  text-align: center;
  top: 1200px;
  padding-top: 30px;
  font-size: 14pt;
  font-family: calibri;
}

@media screen and (max-width: 700px){
  .main-content{
    width: 90%;
    position: absolute;
    left: 5%;

  }


}


@media screen and (min-width: 701px) and (max-width: 950px){
  .main-content{
    width: 70%;
    position: absolute;
    left: 15%;
  }
}
@media screen and (max-width: 480px){
  .footer{
    width: 100%;
    height: 40px;
    position: relative;
    top: 1400px;
    padding-top: 30px;
  }
  .send > a{
    font-size: 14pt;
  }

}
