/* from big tablets to 1200px (width smaller than the 1140px row ) */
@media only screen and (max-width: 1200px) {
    
    .main-nav { 
        margin-top: 20px; 
        margin-right: 20px;
    }


    .main-nav li {
        margin-left: 20px;
    }


    
    .photo img { width: 500px; }
    
    .header-content p { font-size: 16px; }
    
    .header-content h3 {
        font-size: 150%;
    }
    
    .logo-content {
        margin-left: 20px;
        margin-top: 15px;
    }
    
    /* About Section */
    
    section { padding: 50px; }
    
    .card { width: 90%; }
    
    
    /* WHAT WE DO */
    
    .middleBg .icon {
        font-size: 30px;
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    
    
    /* PORTFOLIO */
    
    .section-portfolio {
        padding: 40px;
    }
    
    
    .front .card-title {
        font-size: 100%;
    }
    
    .front .card-text {
        font-size: 65%;
    }
    
    
    
    /* CONTACT */
    
    .map-box {
        width: 100%;
        height: auto ;
        position: relative
    }


    #map {
        width: 100%;
        height: 560px;
        position: relative;
        z-index: 0;
    }

    .form-box {
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 30px;
    }
    
    
    
    .section-contact h2 {
        font-size: 140%;
    }
    

   .section-contact .center-title .fancy {
        line-height: 1.1;
        margin-bottom: 0;
        width: 70%;
     }

    .section.contact .fancy span:before,
    .section-contact .fancy span:after {
      width: 30px;
    }

    .section-contact .fancy span:before {
        right: 100%;
        margin-top: 20px;
        margin-right: 15px;
        
    }

    .section-contact .fancy span:after {
        left: 100%;
        margin-top: 20px;
        margin-left: 15px;
    }



    textarea {margin-bottom: 0;}

    
    .map-box .card {
        top: 15%;
    }
    
    
    
}

/* samll tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    .main-nav {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .photo img { width: 400px; }
    
    .header-content { left: 5%; }
    
    .header-content p { font-size: 14px; }
    
    .header-content h3 { font-size: 120%; }
    
    .direction { left: 5%; }
    
    .main-nav li { margin-left: 10px; font-size: 80%;}
    
    .sticky .main-nav li a { font-size: 80%; }
    
    
    
    /* About Section */
    
/*    section { padding: 30px; }*/
    .section-about {
        margin-top: 50px;
    }
    
    .card { width: 100%; }
    
    .social-links li a { font-size: 140%; }
    
    .social-links li { margin-right: 10px; }
    
    .long-copy {
        margin-bottom: 20px;
        font-size: 16px;
        width: 80%;
    }
    
    
    .middleBg .icon {
        font-size: 25px;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    
    
    /* SKILLS */
    
    .section-skills .toolset p {
        font-size: 70%;
    }
    
    
     /* PORTFOLIO */
    
    
    .front card-text {
        padding: 0;
    }
    
    
    
    /* blog */
    
    
    section-blog {
        padding: 20px;
    }


    .blog {
        width: 100%;
    }

    .pics img {
        width: 400px;
        height: auto;
    }

    .blog-content {
        top: 20%;
        left: 50%;
        width: 300px;
    }

    
    
    
    
    /* CONATCT */
    
    
    .contact-form {
        width: 90%;
    }
    
     .section-contact .fancy span:before {
        margin-top: 10px;
    }

    .section-contact .fancy span:after {
        margin-top: 10px;
    }
    
    
}












/* small phones to small tablets: from 481px - 767px */
@media only screen and (max-width: 767px) {
    
    .main-nav {display: none;}
    
    .mobile-nav-icon {display: inline-block}
    
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    .mobile-nav-icon {
        margin-top: 20px;
        margin-right: 10px;
    }


    .main-nav li { display: block; }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
    }
    
    .sticky .main-nav { margin-top: 10px;}
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }

    
    .header-content {
        top: 5%;
        width: 60%;
        z-index: 9999;
    }
    
    .header-content p {
        font-size: 13px;
        margin-bottom: 5px;
    }
    
    .header-content h3 { font-size: 100%; }
    
    .photo {
        position: relative;
        margin-top: 20px;
    }
    
     .photo img { width: 200px; }
    
    .mobile-nav-icon { margin-top: 5px; }
    
    .mobile-nav-icon i { font-size: 150%; }
    
    .myBtn:link,
    .myBtn:visited {
        padding: 5px 10px;
        font-size: 70%;
    }
    
    .direction { display: none; }

    
    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 5px 0px;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
    }
    
    .main-nav li a:active,
    .main-nav li a:hover {
        border-bottom: 2px solid #d61c1b;
    }
    
    /* ABOUT SECTION */
    
    .who h2 {
        text-align: center;
        font-size: 120%;
        font-weight: 400;
    }
    
    .card-block { display: flex; }
    
    .title { order: 1; }
    
    .title h4 { display: none;}
    
    .card-header h4 {
        text-align: center;
    }
    
    
    /* WHAT WE DO */
    
    .middleBg .icon {
        font-size: 30px;
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    
    .icon {
        margin: 0 auto;
    }
    
    .middleBg h4 {
        text-align: center;
    }
    
    .section-what-i-do h2 {
        font-size: 140%;
        font-weight: 400;
    }
    
    
    
    /* Skills */
    
    .toolset div { margin-bottom: 20px; }
    .section-skills h2 {
        font-size: 140%;
        font-weight: 400;
    }
    
    
     /* PORTFOLIO */
    
    .front .card {
        width: 100%;
    }
    
    .front .card-img-top {
        height: 50%;
    }
    
   .back .card-block {
        display: block;
    }
    
    .front .card-block {
        display: block;
    }
    
    .back .card-title {
        text-align: center;
    }
    
    .front .card-title {
        font-size: 120%;
    }
    
    .front .card-text {
        font-size: 100%;
    }
    
    .section-portfolio h2 { 
        font-size: 140%;
        font-weight: 400;
        padding-top: 50px;
    }
    
    
    
    
    /* FEEDBACK */
    
    .section-feedback {
        padding: 40px 10px 10px 0;

    }

    .section-feedback .col-md-4 {
        font-size: 80%;
        margin-bottom: 30px;
    }
    
    
    
    
    
     /* blog */
    
    
    section-blog {
        padding: 0;
    }
    
    .pics {
        width: 100%;
    }


    .pics img {
        width: 100%;
        height: auto;
    }

    .blog-content {
        position: relative;
        top: 20%;
        left: 5%;
    }

    
    
    /* CONTACT */
    
    
     .map-box {
        width: 100%;
        height: auto ;
        position: relative
    }


    #map {
        width: 100%;
        height: 560px;
        position: relative;
        z-index: 0;
    }

    .form-box {
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 30px;
    }
    
    
    
    .section-contact h2 {
        font-size: 140%;
    }
    

   .section-contact .center-title .fancy {
        line-height: 1.1;
        margin-bottom: 0;
        width: 70%;
     }

    .section.contact .fancy span:before,
    .section-contact .fancy span:after {
      width: 30px;
    }

    .section-contact .fancy span:before {
        right: 100%;
        margin-top: 10px;
        margin-right: 15px;
        
    }

    .section-contact .fancy span:after {
        left: 100%;
        margin-top: 10Px;
        margin-left: 15px;
    }



    textarea {margin-bottom: 0;}

    
    .map-box .card {
        top: 15%;
    }
    
    
    
    
    
    
    
}






@media only screen and (max-width: 481px) {
    
    .card {
        width: 100%;
    }
    
    .main-nav {
        margin-top: 20px;
        margin-left: 35px;
    }
    .mobile-nav-icon { margin-top: 10px; }

    .header-content {
        top: 5%;
        width: 60%;
        z-index: 9999;
    }
    
    .header-content p { font-size: 12px; }
    
    .header-content h3 { font-size: 70%; }
    
    .photo {
        position: relative;
        margin-top: 20px;
    }
    
     .photo img { width: 150px; }
    
    
    .myBtn:link,
    .myBtn:visited {
        padding: 5px 10px;
        font-size: 60%;
    }
    
   .logo { height: 25px; }
    
    .small {
        width:60px;
        font-size: 50%;
    }
    
    .sticky .logo-content { margin-top: 10px;}
    
    .sticky .mobile-nav-icon { margin-top: 5px; }
    
    /* ABOUT SECTION */
    
    
    .section-about {
        padding: 20px;
    }
    
    .section-about .card {
        width: 90%;
    }
    
    .card-text .long-copy {
        width: 100%;
        font-size: 80%;
    }
    
    
    /* WHAT WE DO */
    
    .middleBg .col-md-4 {
        margin-bottom: 20px;
    }
    
    .middleBg .icon {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    
    .icon {
        margin: 0 auto;
    }
    
    /*
     SKILLS */
        
    
    
    
    
    
    
    /* PORTFOLIO */
    
    .section-portfolio {
        padding: 20px;
    }
    
    .section-portfolio .card {
        width: 100%;
    }
    
    .back .card-block {
        display: block;
    }
    
    
    .front .card-title {
        font-size: 100%;
    }
    
    .front .card-text {
        font-size: 80%;
    }
    
    
    
    
    
    
    /* FEEDBACK */
    
    
    .section.feedback .fancy span:before,
    .section-feedback .fancy span:after {
      width: 40px;
    }
    
    

    .section-feedback .center-title .fancy {
        line-height: 1.1;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2em;
        font-size: 120%;

    }

    

    .section-feedback .fancy span:before {
        right: 100%;
        margin-top: 10px;
        margin-right: 15px;
        
    }

    .section-feedback .fancy span:after {
        left: 100%;
        margin-top: 10px;
        margin-left: 15px;
    }

    
    
    /*BLOG */
    
    
    .pics img {
        margin-bottom: 20px;
    }


    .blog-content {
        top: 30%;
        left: -5%;
        width: 200px;
    }
    
    
    .blog-content h2 {
        font-size: 120%;
    }
    
    .blog-content article {
        font-size: 80%;
    }
    
    .blog-content a {
        font-size: 75%;
    }

    
    /* CONTACT */

    .map-box .card {
        left: 5%;
    }
    
    
    
    
    
    
}







