body, html {
	text-align: justify;
	margin: 0;
    font-family: Tahoma, Sans-Serif;
    font-size: .97em;
    color: ##4b4d4b;
}

.flex-container
{
    display: flex;
    width: 100%;
}

.flex-item
{
    width: 45%;
    margin: 0 25px 0 0;
}

.container
{
    width: 90%;
    margin: 0 auto;
}

.me
{
    width: 100%;
}
h2
{
	text-align: center;
	font-weight: bold;
}
h3, h4 {
	color: #255e82;
}

