body{
	background: #fdf6dc;
	text-align: center;
	padding: 20px;
}

img {
    box-shadow: 8px 8px 10px #5c495d;
    border-radius: 50%;
    float: left;
    margin-top: -50px;
    opacity: 0.9;
}

footer{
	position: relative;
}

h4 {
	font-size: 30px;
	font-style: italic;
}

p {
	font-size: 25px;
	font-family: sans-serif;
}

