@import "responsiveStyles.css";


body {
    font-family: 'Open Sans', sans-serif; 
    background: url("https://image.ibb.co/b1U6HQ/blurred_background_3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%; 
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-around; 
    justify-content: center;
    margin: 0px;
    padding: 4%;
    /* overflow: hidden; */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around; 
    justify-content: center; 
    width: 70%;
    height: 70%; 
}

#profile {
         background: #303f9f; 
}

.flex-item {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 50%;
    background: #f5f5f5;
    margin: 4%;
    padding: 0px;
    border-radius: 10px;
}

#bio-text {
    text-align: justify !important;
    padding: 15px;
    font-size: 14px;
}

img {
    width: 100%;  
    height: auto;  
    max-height: 300px;
    margin: 0px;
}

.heading,
.card-footer {
    /* background: #5c6bc0;   */
    background: #303f9f;
    padding: 1px;  
    color: white;
    font-size: 20px;
    margin: 0px;
}

.heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    text-transform: uppercase;
}

 .card-footer {
    margin: 5px !important;
} 

.card-footer p,
.card-footer a {
    display: inline;
     padding: 15px 0px 15px 0px; 
     color: white;
     margin: 4px;
}

.card-footer a:hover {
    cursor: pointer;
}

.card-footer > p:hover {
    cursor: default;
}

.icons {
    transition: all 1s; 
    font-size: 30px !important;
    color: white;
    margin: 40px 10px 10px 10px;
} 

.icons:hover {
     font-size: 35px !important; 
}

.fa-instagram:hover {
      color: #e95950;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-envelope:hover {
    color: #fbbc05;
}

.fa-github:hover {
    color: #4078c0;
}

.fa-slack:hover {
    color: #e01563;
}


@media only screen and (max-width: 1100px) {
    body {
        padding: 1%;
    }

    .container {
        width: 90%;
        height: 90%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        padding: 0px;
    }

    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .flex-item {
        width: 70%;
        height: 100%;
    }

    img {
        max-height: 400px;        
    }
}