* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*background-color: lightgrey;*/
}

.container {
    padding: 10px;
    margin: auto 10%;
    background-color: #ececec;
    border-radius: 3px;
}

.text-center {
    text-align: center;
}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}

.social {
    margin: 5px;
}

.bio-fred {
    margin-left: 2em;
    margin-right: 2em;
}
