body{
    background-color: #dcdcdc;
}
.main{
    padding-top: 15vh;
    width: 80vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contents{
    font-size: 12px;
    padding-left: 10px;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.prof{
    width: 5%;
}
.profimg{
    width: 100%;
    border-radius: 100%;
}
.part,.pics{
    box-shadow: 2px 2px 20px 2px #808080;
    background-color: #efefef;
}

.part:before,
.part:after{
    display: table;
    content: " ";
}
.part{
    width: 100%;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}
.part:after{
    clear: both;
}
.pics{
    padding: 5px;
    width: 30%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}
.details{
    height: 100%;
    border-right: 1px dashed #0b5fd8;
    margin-top: 4vh;
    background: linear-gradient(rgba(239, 239, 239, 0.70),rgba(239, 239, 239, 0.70)),url("../image/jerry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3vw;
    width: 58%;
    position: relative;
    min-height: 1px;
    //padding-right: 15px;
    padding-left: 15px;
    float:left;

}
p{
    font-family: 'Lato', sans-serif;
    color: #000000;
}
h3,h2,h4,h1{
    font-family: magneto;
    color: #000000;
}
.bio{
    font-size: 15px;
    text-align:left;
}
.name{
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}
.val{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #0b5fd8!important;
}
.key{
    font-style: italic;
    color: #0b5fd8 !important;
}